@font-face {
    font-family: 'alex';
    src: url('../Sign-up-Form/fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../Sign-up-Form/fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
  
body{
    height: 100vh;
    background-color:rgba(26, 26, 27, 0.591);
  
    
}
.main_container{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    padding: 2px;
   

}


.content_container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.bottom p{
    font-size: 1.5rem;
}
.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.item{
    flex: 1;
}
.para{
    display: flex;
    gap: 30px;
    flex-direction: column;

}

/*Styling the logo*/
.logo{
   
    background-repeat: no-repeat;
    background-color: rgba(26, 26, 27, 0.591);
    font-family:'alex',Georgia, 'Times New Roman', Times, serif;
    margin-top: 150px;/*Moves odin logo*/
    display: flex;
    color: white;
    justify-content:center ;
    align-items: center;
    font-size: 3rem;
    
}
.img_header{
   background-image: url(../Sign-up-Form/halie-west-25xggax4bSA-unsplash.jpg);
   background-size: cover;
   width: 800px;
   

}

a{
    font-size: 2rem;
}
.header{
   font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: large;
    display: flex;
    align-items: flex-end;
    
}

.contact_info{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
    
}

input {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #cf1919;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #cbcbcb;
}
.shape{
    display: flex;
}
label{
       
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
}
.row{
    display: flex;
    justify-content: space-around;
}

.shape{
   display: flex;
   flex-direction: column; 
   
}

fieldset{
    border: none;
   
}
.wrapper{
   display: flex;
   flex-direction: column;
   margin: 50px;
   gap: 60px;
   
}
/*style the login buttons*/
.log_in {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the buttons */
    margin-top: 20px;
    flex-direction: column;
    padding: 30px;
  }

  .log_in button {
    background-color: #3c5f23c4; /* Primary green color */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
   
  }

