body{
    height: 100%;
    
   


}
.container{
    display: flex;
    height: 900px;
   
   
    
}
.content{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;

}
/*Styling the logo*/
.logo{
    background-image:url(../Sign-up-Form/logo.png);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    height: 200px;
    margin-top: 100px;
    display: flex;
   justify-content: center;
    color: white;
   
    
}
.img_header{
   background-image: url(../Sign-up-Form/halie-west-25xggax4bSA-unsplash.jpg);
   background-size: cover;
   width: 400px;
   display: flex;
   flex-direction: column;
 
   
}




.content{
    display: flex;
    flex-direction: column;
   
   
    
}